*{
    margin: 0;
}
.body{
    background-color: rgb(250, 241, 231);
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.div{
    width: 700px;
    height: 450px;
    display: flex;
}
.div1{
    height: 450px;
    width: 350px;
}
.img{
    width: 350px;
    height: 450px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.div2{
    height: 450px;
    width: 350px;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.h1{
    padding-left: 40px;
    padding-top: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}
.p{
    padding-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: rgba(128, 128, 128, 0.247);
}
.pp{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 40px;
    padding-top: 50px;
    color: rgba(128, 128, 128, 0.795);
    line-height: 30px;
    font-size: 20px;
}
.span{
    padding-left: 40px;
    padding-top: 40px;  
}
.button{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50px;
    color: white;
    background-color: turquoise;
    margin-left: 30px;
    font-size: 18px;
}